@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
:root {
  --color-bg: hsl(257, 40%, 49%);
  --color-active: hsl(300, 69%, 71%);
  --fontsize-heading: 3.5rem;
  --fontsize-paragrapg: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 20%, 67%);
}
/* Typograph */
html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-seri, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: var(--color-bg);
}
h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: var(--fontsize-heading);
}
p {
  font-size: var(--fontsize-paragrapg);
}
/* Button component */
.btn {
  padding: 2rem 6rem;
  border: 0;
  border-radius: 5rem;
  font-size: var(--fontsize-paragrapg);
  cursor: pointer;
}
.btn--primary {
  color: var(--color-active);
  transition: all 0.3s ease;
}
.btn--primary:hover {
  background: var(--color-active);
  color: #fff;
}
